@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../assets/font/Poppins-Regular.woff2') format('woff2'),
         url('../assets/font/Poppins-Regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-weight: 500;
    src: url('../assets/font/Poppins-Medium.woff2') format('woff2'),
         url('../assets/font/Poppins-Medium.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../assets/font/Poppins-SemiBold.woff2') format('woff2'),
         url('../assets/font/Poppins-SemiBold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url('../assets/font/Poppins-Bold.woff2') format('woff2'),
         url('../assets/font/Poppins-Bold.woff') format('woff');
  }

  @font-face {
     font-family: 'Poppins';
     font-weight: 800;
     src: url('../assets/font/Poppins-ExtraBold.woff2') format('woff2'),
          url('../assets/font/Poppins-ExtraBold.woff') format('woff');
   }